@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Add_student" class="btn btn-primary">Add Student</a>
    <a asp-controller="Home" asp-action="Student_list" class="btn btn-primary">Show Students</a>
</div>
